In [113]:
import pandas as pd
import numpy as np
import datetime as dt

data = pd.read_csv("Crime_Data_from_2010_to_Present.csv",dtype='O')
data['Date Reported'] = pd.to_datetime(data['Date Reported'],yearfirst=True)
data['Date Occurred'] = pd.to_datetime(data['Date Occurred'],yearfirst=True)
data['Time Occurred'] = data["Time Occurred"].astype('int64')

#all numeric values are used to specify codes/IDs; all data is qualitative
#normalize all values to object except for datetime columns
#deal with NaN values; data.dropna(axis=0) to ignore for now
#do some binning and/or clustering with datetime objects?
#what about location coordinates?

DR Number                         object
Date Reported             datetime64[ns]
Date Occurred             datetime64[ns]
Time Occurred                      int64
Area ID                           object
Area Name                         object
Reporting District                object
Crime Code                        object
Crime Code Description            object
MO Codes                          object
Victim Age                        object
Victim Sex                        object
Victim Descent                    object
Premise Code                      object
Premise Description               object
Weapon Used Code                  object
Weapon Description                object
Status Code                       object
Status Description                object
Crime Code 1                      object
Crime Code 2                      object
Crime Code 3                      object
Crime Code 4                      object
Address                           object
Cross Street                      object
Location                          object
dtype: object

In [121]:
data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,001208575,2013-03-14,2013-03-11,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,2010-01-25,2010-01-22,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,0418,2013-03-19,2013-03-18,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,2010-11-11,2010-11-10,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,042104479,2014-01-11,2014-01-04,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"